[submodule "useful_repos/bergen"]
	path = useful_repos/bergen
	url = git@github.com:ottowhite/bergen.git
[submodule "useful_repos/production-stack"]
	path = useful_repos/production-stack
	url = git@github.com:ottowhite/production-stack.git
[submodule "useful_repos/RAG_Techniques"]
	path = useful_repos/RAG_Techniques
	url = git@github.com:ottowhite/RAG_Techniques.git
[submodule "useful_repos/FlashRAG"]
	path = useful_repos/FlashRAG
	url = git@github.com:ottowhite/FlashRAG.git
